@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: "Yesteryear-Regular";
    src: url("/src/assets/Yesteryear-Regular.ttf") format("woff2");
} */


/* ...existing styles... */

.mask-container {
    position: relative;
    overflow: hidden;
  }
  
  .mask-content {
    transition: mask-size 0.5s ease, -webkit-mask-size 0.5s ease;
  }